@import "./variables";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  background-image: repeating-linear-gradient(
    45deg,
    var(--pink),
    var(--pink) 10px,
    var(--white) 10px,
    var(--white) 20px
  );
}

svg {
  fill: currentColor;
}

a {
  color: var(--white);
  text-decoration: none;
  transition: color .15s ease-in;
}

a:focus,
a:hover {
  color: var(--blue);
  text-decoration: none;
}

p, ul {
	@apply my-4;
}

@media print {
  p,
  a,
  ul,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-normal m-0;
  }

  a {
    color: #000 !important;
  }

  .dn-print {
    display: none;
  }

  .db-print {
    display: block;
  }

  .dn-print-ba {
    border: none;
  }
}
