@import "./variables";

html,
body {
	min-height: 100%;
}

body {
  background-image: repeating-linear-gradient(
    45deg,
    var(--pink),
    var(--pink) 10px,
    var(--white) 10px,
    var(--white) 20px
  );
}

svg {
  fill: currentColor;
}

a {
  color: var(--white);
  text-decoration: none;
  transition: color .15s ease-in;
}

a:focus,
a:hover {
  color: var(--blue);
  text-decoration: none;
}

@media print {
  a {
    color: #000 !important;
  }

  .dn-print {
    display: none;
  }

  .db-print {
    display: block;
  }

  .dn-print-ba {
    border: none;
	}

	.dn-print-ba::after {
    border: none !important;
  }
}
