// fonts
@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans);

@typography true;

// core variables and mixins
@import "variables";

// dependencies
@import "print";

// core
@import "scaffolding";
@import "type";

// components
@import 'loader';

// lost
@lost gutter 15px;
@lost flexbox flex;
@lost rounder 100;

html {
	position: relative;
	height: auto;
}
body {
	background-image: repeating-linear-gradient( 45deg, $pink, $pink 10px, $white 10px, $white 20px);
}
.container {
	margin: 0.5lh;
	lost-flex-container: row;
	min-height: calc(100vh - 1lh);
	border: 10px solid $black;
	background-color: $white;
}
nav {
	width: 100%;
	height: auto;
	padding: 0 20px;
	color: $grey-lighter;
	background: $grey;
	text-align: center;
	@media (min-width: 768px) {
		lost-column: 1/2;
	}
	@media (min-width: 992px) {
		lost-column: 1/3;
	}
	@media (min-width: 1200px) {
		lost-column: 1/4;
	}
	img {
		border-radius: 50%;
		display: block;
		max-width: 100%;
		height: auto;
		margin: 1lh auto;
		padding: 0.25lh;
		background-color: $white;
	}
	a {
		fill: $white;
		text-decoration: none;
		&:hover {
			fill: $green;
		}
	}
}
main {
	height: 100%;
	padding: 0 0.5lh;
	h4 {
		width: 100%;
		.small,
		small {
			float: right;
		}
	}
	@media (min-width: 768px) {
		padding: 1lh 1lh 1lh 0;
		lost-column: 1/2;
	}
	@media (min-width: 992px) {
		lost-column: 2/3;
	}
	@media (min-width: 1200px) {
		lost-column: 3/4;
	}
}
article {
	lost-flex-container: row;
	header, section {
		lost-column: 1/1;
	}
	&.strengths section {
		@media (min-width: 768px) {
			lost-column: 1/2;
		}
	}
	&.interests section {
		@media (min-width: 768px) {
			lost-column: 1/2;
		}
	}
}
$heading: $blue;
$heading-dark: darken($heading, 33%);
h3 {
	position: relative;
	padding-left: 35px;
	margin-left: -35px;
	background: $blue;
	box-shadow: 0 2px 4px #888;
	@media (min-width: 992px) {
		width: 400px;
	}
}
h3:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: 0;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: $heading-dark $heading-dark transparent transparent;

	@media print {
		border: none;
	}
}

@media print {
	h1,
	h2,
	h3,
	h4,
	h5,
	h5 {
		line-height: 1.5lh;
		margin-top: 0.25lh;
		margin-bottom: 0.25lh;
	}

	a {
		fill: #000 !important;
	}

	.container {
		margin: 0;
		border: none;
	}

	.hidden-print {
		display: none !important;
	}
}
