:root {
	--pink: hsl(330, 100%, 67%);
	--green: hsl(90, 100%, 67%);
	--blue: hsl(210, 100%, 67%);
	--white: hsl(0, 0%, 98%);
	--black: hsl(0, 0, 2%);
	--greyDarker: hsl(0, 0, 15%);
	--greyDark: hsl(0, 0, 20%);
	--grey: hsl(0, 0, 35%);
	--greyLight: hsl(0, 0, 50%);
	--greyLighter: hsl(0, 0, 95%);

	--heading: var(--blue);
	--headingDark: hsl(210, 100%, 33%);
}
