{
	"plugins": [
		"prettier-plugin-tailwindcss"
	],
	"singleQuote": true,
	"bracketSpacing": false,
	"trailingComma": "all",
	"tailwindStylesheet": "src/site.css",
	"overrides": [
		{
			"files": "*.jsonc",
			"options": {
				"trailingComma": "none"
			}
		}
	]
}