@import "tailwindcss";
@plugin "@tailwindcss/typography";

@view-transition {
	navigation: auto;
}

@theme {
	--color-black: oklch(20% 55.00000000000001% 180);
	--color-dark-blue: oklch(
		56.56606523457748% 53.35494437460665% 224.47085729384875
	);
	--color-purple: oklch(
		76.13526500136705% 48.41186402706317% 291.9615242270663
	);
	--color-pink: oklch(
		89.45898244330108% 40.084540625854395% 317.57359312880715
	);
	--color-light-blue: oklch(97.36791099937064% 27.85379077161093% 180);
	--color-white: oklch(100% 5.000000000776767% 42.42640687119284);

	--color-black-gray: oklch(10% 100% 180);
	--color-dark-gray: oklch(34.72135954999579% 95.10565162951535% 180);
	--color-gray: oklch(57.02282018339785% 80.90169943749474% 180);
	--color-light-gray: oklch(74.7213595499958% 58.778525229247315% 180);
	--color-white-gray: oklch(86.08452130361228% 30.901699437494745% 180);

	--font-sans:
		Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;

	--inset-shadow-nav: inset -10px 0px 5px -5px
		var(--tw-inset-shadow-color, rgba(0, 0, 0, 25%));

	--background-image-home-light: linear-gradient(
		to bottom right in oklch,
		var(--color-light-blue) 0%,
		var(--color-pink) 33%,
		var(--color-purple) 66%,
		var(--color-dark-blue) 100%
	);

	--background-image-home-dark: linear-gradient(
		to bottom right in oklch,
		var(--color-dark-blue) 0%,
		var(--color-purple) 33%,
		var(--color-pink) 66%,
		var(--color-light-blue) 100%
	);
}

@utility prose {
	--tw-prose-body: --theme(--color-black-gray);
	--tw-prose-headings: --theme(--color-black-gray);
	--tw-prose-hr: --theme(--color-pink);
	--tw-prose-links: --theme(--color-dark-blue);

	--tw-prose-invert-body: --theme(--color-white);
	--tw-prose-invert-headings: --theme(--color-white);
	--tw-prose-invert-hr: --theme(--color-pink);
	--tw-prose-invert-links: --theme(--color-light-blue);
}

a {
	@apply transition-colors hover:text-purple focus:text-purple active:text-purple;

	@media print {
		color: #000;
	}
}

@keyframes blob {
	0%,
	100% {
		transform: translate(0, 0) scale(1);
	}
	25% {
		transform: translate(20px, -50px) scale(1.1);
	}
	50% {
		transform: translate(0, 20px) scale(1);
	}
	75% {
		transform: translate(-20px, -15px) scale(0.9);
	}
}
